<head>
    <meta charset="utf-8">
    <title>private</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <h1>feed</h1>
    <article>
        <ul>
            <li>username: {{username}}</li>
        </ul>
        <form action="/postreview" method="POST" class="newPost" id="newPostForm">
            <div id="titleDiv">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="{{title}}">
            </div>
            <div id="catDiv">
                <label for="category">Category</label>
                <input type="text" id="category" name="category" value="{{category}}">
            </div>
            <div id="ratingDiv">
                <label for="rating">Rating</label>
                <input type="text" id="rating" name="rating" value="{{rating}}">
            </div>
            <div>
                <label for="review">Review</label>
                <textarea name="review" id="review" cols="50" rows="10" value="{{review}}"></textarea>
            </div>
            <button type="submit" id="btn">Post</button>
        </form>
        <a href="/review">Go to review page</a>
        <a href="/feedThreads">Go to feedThreads page</a>
        <a href="/logout">Logout</a>
        </div>
    </article>

</body>