<div id="userInfo">
    <h1 id="userID">{{data._id}}</h1>
    <h1 id="userName">
        {{data.firstName}} {{data.lastName}}
    </h1>

    <h2 id="status">
        {{error}}
    </h2>

    <button class="btn" id="friendReqBtn">Add Friend</button>
    <button class="btn" id="decline">Decline</button>

    <div id="userInfoCat">
        <a href="" id="userBioClick">User Information</a>
        <a href="" id="userPostsClick">User Posts</a>
        <a href="" id="userLikedClick">Liked by User</a>
        <a href="" id="blockClick">Block User</a>
    </div>

    <div id="userBio">
        <label>Age: {{data.age}}</label>
        <br>
        <label>Gender: {{data.gender}}</label>
        <br>
        <label>From: {{data.city}}, {{data.state}}</label>
    </div>

    <div id="userPosts">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/userInfo.js"></script>
</div>